.mockup-img {
    max-width: 400px;
    margin: 50px;
    width: 350px;
    cursor: pointer
}

.mockup-img:hover {
    transform: scale(1.1)
}

.featured-work {
    max-width: 90%;
    margin: 0 auto;
}