.mockup-img {
    max-width: 100%;
    padding: 35px;
    box-sizing: border-box;
    width: 450px;
    background: none;
    cursor: pointer;
}

.featured-work-container {
    overflow: hidden;
    margin-top: 80px;
}

.featured-work {
    width: 1350px;
    max-width: 90%;
    margin: 0 auto;
}

.featured-work-title {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 3em;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #afafaf;
}

.featured-work-title:hover {
    color: #006d99;
}

.featured-work-item-container{
    text-align: center;    
    max-width: 100%;
    -webkit-box-sizing: border-box;
    display: inline-block;
    box-sizing: border-box;
    width: 450px;
}

.featured-work-item-title a,
.featured-work-item-title span {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1em;
    letter-spacing: 2px;
    display: inline;
    text-decoration: none;
    color: #979797;
}

.featured-work-item-title a:hover
.featured-work-item-title span:hover{
    font-weight: bold;
    color: #006d99;
}

.modals-container {
    width: 750px;
    max-width: 80%;
}

.close-modal-icon {
    color: #9f9f9f;
    cursor: pointer;
}

.close-modal-icon:hover {
    color: crimson;
}

.modal-title {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    color: #006d99;
}

.modal-description {
    box-sizing: border-box;
    padding: 10px 15px;
}

.all-images-container {

}

.all-images {
    /* overflow-x: scroll; */
    /* margin-bottom: -20px; */
    text-align: center
}

.all-images-scroll-container {
    /* width: 1000px; */
    /* overflow: hidden; */
}

.project-images-container {
    display: inline-block;
    overflow: hidden;

}

.project-images-container  .project-images {
    max-width: 85%;
    width: 400px;
    margin: 15px;
    display: inline;
    margin-right: 20px;
}   